# Ignore virtual environment directories
venv/
.env/

# Ignore cached files
__pycache__

# Ignore log files
*.log

# Ignore any temporary files or directories
temp/
.tmp/

# Ignore IDE-specific files and directories
.vscode/
.idea/

# Ignore Docker related files
.dockerignore
docker-compose.yml

# Ignore Git directories
.git
.gitignore